<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
    <title>Info Page</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->


<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End All Title Box -->
<div class="container">
    <p style="width: 500px;
     margin-left: auto;
     margin-right: auto;">
        Mail Sent successfully
    </p>

</div>

<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>
<!-- End Feed  -->

<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">
</footer>
<div th:replace="~{fragments::script}"></div>
</body>

</html>
